@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

}

@layer base{
    body{
        @apply bg-gray-100 w-screen min-h-screen scrollbar scrollbar-thumb-gray-900 scrollbar-track-gray-100;
    }  
}

@keyframes boxShadow {
  0% {box-shadow: 0px 0px 6px 1px rgb(230, 173, 221);}
  25% {box-shadow: 0px 0px 7px 1px rgb(226, 137, 199);}
  50% {box-shadow: 0px 0px 8px 1px rgb(230, 69, 181);}
  75% {box-shadow: 0px 0px 7px 1px rgb(226, 137, 199);}
  100% {box-shadow: 0px 0px 6px 1px rgb(230, 173, 221);}
}


.profile-pic{
    animation: boxShadow 5s both infinite;
        
}
.profile-pic-sm{
    animation: boxShadow 5s both infinite;
        
}

@layer utilities {

    .title{
        @apply bg-gray-200
    }
    .title-text{
        @apply text-gray-800 fill-gray-800
    }
    .bg-gradient-custom{
        @apply bg-white

    }
}